<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title %>
    <%= form.text_field :title ,class:"form-control"%>
  </div>

  <div class="field mb-3">
    <%= form.label :description %>
    <%= form.text_field :description  ,class:"form-control"%>
  </div>

  <div class="field mb-3">
    <%= form.label :date %>
    <%= form.date_field :date ,class:"form-control"%>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
