<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<table class="table table-bordered table-hover">
  <thead class="table-secondary">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td><%= todo.date %></td>
        <td><%= link_to 'Show', todo, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo),class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Todo', new_todo_path, class:"btn btn-success" %>
