<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @todo.date %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo), class:"btn btn-secondary" %> 
<%= link_to 'Back', todos_path, class:"btn btn-secondary" %>
